/* p {
    padding-top:-2px
} */
.root {
    display: flex;
    color: darkslategrey;
}
.left {
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 70px;
    width: 25%;
}
.right {
    border-left: thick solid #000000;
    padding-left: 50px;
    padding-top: 20px;
    width: 75%;
    height: 100vh;
}
.heading {
    font-size: 70px;
    cursor: pointer;
}
.projects {
    display: none;
    height: 100vh;
    overflow-y: scroll;
}
.experience {
    display: none;
    height: 100vh;
    overflow-y: scroll;
}
.experienceitem {
    padding-top: 5px;
}
.contact {
    padding-top: 40px;
    font-size: 30px;
}
.aboutme {
    font-size: 25px;
    padding-top: 10%;
}
.activities {
    display: none;
    font-size: 25px;
    padding-top: 20%;
}
.activityitem {
    padding-top: 20px;
}
.education {
    display: none;
    padding-top: 10%
}
.title {
    font-size: 30px;
    color: cadetblue;
    font-weight: bold;
}
.subtitle {
    padding-top:5px;
    font-size: 20px;
    font-weight: bold;
}
.secondtitle {
    font-size: 30px;
    padding-top: 50px;
    color: cadetblue;
    font-weight: bold;
}
.content {
    padding-top:10px;
    font-size: 20px;
}
.listitem {
    padding-top: 5px;
}
.logo {
    padding-left: 15px;
}